@page "/"

<h1>WASM Poup Messages</h1>
<p>
    <a href="/Popup_message_test"> Three style popup messages with page scope popup component</a>
</p>
<p>
    <a href="/Popup_message_test/1"> Three style popup messages with static shared popup component</a>
</p>
<p>
    <a href="/Popup_message_test/2"> A Popup message with with user selection detect by using callback hander</a>
</p>

