@page "/"

<h1>WASM Poup Messages Examples</h1>
<ol>
    <li><a href="/Popup_message_test"> Three style popup messages with the page scope popup component</a></li>
    <li><a href="/Popup_message_test/1"> Three style popup messages with the static shared popup component</a></li>
    <li> <a href="/Popup_message_test/2"> A Popup message with with user selection detect by using the callback hander</a></li>
    <li> <a href="/Popup_message_test/3"> A Popup message with with selection user's enter data by using the callback handler</a></li>
</ol>
Created By <a href="https://textcenter.vdap.com"><h3>TextCenter.vdap.com</h3></a>

